<md-dialog aria-label="Profile Dialog" flex="50">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <!-- <md-button ng-click="submitSetting()">Submit</md-button> -->
      <span flex></span>
      <p class="dialogTitle">Profile</p>
      <md-button aria-label="Open for menu" class="md-icon-button" ng-click="closeDialog()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-inline-form">
    <md-content layout-padding flex>
      <ul>
        <li ng-hide="showEditUsername" class="pdt-ul-li" style="border-top: 1px solid #616161; border-bottom: 1px dashed #BDBDBD;">
          <div layout="row">
            <span style="width: 30%">Username</span>
            <span class="pdt-spn-value">{{userDisplayName}}</span>
            <span class="pdt-spn-edit"><a ng-click="showEditUsername=true; showEditEmailAddress=false; showEditPassword=false;">Edit</a></span>
          </div>
        </li>
        <div ng-show="showEditUsername" class="pdt-ul-div" id="editUsername">
          <li style="margin-bottom: 10px;">
            <div layout="row">
              <span style="width: 30%">Edit Username</span>
              <span flex></span>
              <span class="pdt-spn-edit"><a ng-click="showEditUsername=false;">Cancel</a></span>
            </div>
          </li>
          <div style="padding: 8px;">
            <div layout="column" flex layout-align="center" style="padding-top: 5vh;">
              <section layout="row" flex>
                <span flex="20"></span>
                <md-input-container flex>
                  <label>Username</label>
                  <input ng-model="userDisplayName"/>
                </md-input-container>
                <span flex="20"></span>
              </section>
              <section layout="row">
                <span flex></span>
                <md-progress-circular ng-show="hideSaveShowProgress" md-mode="indeterminate" style="margin-top: -32px;" md-diameter="30px"></md-progress-circular>
                <span flex></span>
              </section>
              <section layout="row" flex>
                <span flex="20"></span>
                <md-button ng-hide="hideSaveShowProgress" ng-click="submitChangeDisplayName(userDisplayName)" class="md-raised md-primary md-raised md-cornered" style="margin-top: -35px;">Save Changes</md-button>
                <span flex="20"></span>
              </section>
            </div>
          </div>
        </div>
        <li ng-hide="showEditEmailAddress" class="pdt-ul-li" style="border-bottom: 1px dashed #BDBDBD;">
          <div layout="row">
            <span style="width: 30%">Email Address</span>
            <span class="pdt-spn-value">{{userEmail}}</span>
            <span class="pdt-spn-edit"><a ng-click="showEditUsername=false; showEditEmailAddress=true; showEditPassword=false;">Edit</a></span>
          </div>
        </li>
        <div ng-show="showEditEmailAddress" class="pdt-ul-div" id="editEmail">
          <li style="margin-bottom: 10px;">
            <div layout="row">
              <span style="width: 30%">Edit Email Address</span>
              <span flex></span>
              <span class="pdt-spn-edit"><a ng-click="showEditEmailAddress=false;">Cancel</a></span>
            </div>
          </li>
          <div style="padding: 8px;">
            <div layout="column" layout-align="center stretch" style="padding-top: 5vh;">
              <div layout="column">
                <section layout="row" flex>
                  <span flex="20"></span>
                  <md-input-container flex>
                    <label>Current Email Address</label>
                    <input ng-model="userEmail" disabled/>
                  </md-input-container>
                  <span flex="20"></span>
                </section>
                <section layout="row" flex>
                  <span flex="20"></span>
                  <md-input-container flex>
                    <label>New Email Address</label>
                    <input ng-model="editNewEmailAddress"/>
                  </md-input-container>
                  <span flex="20"></span>
                </section>
                <section layout="row" flex>
                  <span flex="20"></span>
                  <md-input-container flex>
                    <label>Password</label>
                    <input ng-model="editEmailPassword" type="password"/>
                  </md-input-container>
                  <span flex="20"></span>
                </section>
              </div>
              <section layout="row">
                <span flex></span>
                <md-progress-circular ng-show="hideSaveShowProgress" md-mode="indeterminate" style="" md-diameter="30px"></md-progress-circular>
                <span flex></span>
              </section>
              <section layout="row" flex>
                <span flex="20"></span>
                <md-button ng-hide="hideSaveShowProgress" ng-click="submitChangeEmailAddress()" class="md-raised md-primary md-raised md-cornered" style="margin-top: -35px;">Save Changes</md-button>
                <span flex="20"></span>
              </section>
            </div>
          </div>
        </div>
        <li ng-hide="showEditPassword" class="pdt-ul-li" style="border-bottom: 1px solid #616161;">
          <div layout="row">
            <span style="width: 30%">Password</span>
            <span class="pdt-spn-value">Reset your password here.</span>
            <span class="pdt-spn-edit"><a ng-click="showEditUsername=false; showEditEmailAddress=false; showEditPassword=true;">Edit</a></span>
          </div>
        </li>
        <div ng-show="showEditPassword" class="pdt-ul-div" id="editPassword" >
          <li style="margin-bottom: 10px;">
            <div layout="row">
              <span style="width: 30%">Edit Password</span>
              <span flex></span>
              <span class="pdt-spn-edit"><a ng-click="showEditPassword=false">Cancel</a></span>
            </div>
          </li>
          <div style="padding: 8px;">
            <div layout="column" layout-align="center" layout-fill flex style="padding-top: 5vh;">
              <section layout="row" flex>
                <span flex="20"></span>
                <md-input-container flex class="md-block">
                  <label>Current Password</label>
                  <input ng-model="currentPassword" type="password"/>
                </md-input-container>
                <span flex="20"></span>
              </section>
              <section layout="row" flex>
                <span flex="20"></span>
                <md-input-container class="md-block" flex>
                  <label>New Password</label>
                  <input ng-model="newPassword" type="password"/>
                </md-input-container>
                <span flex="20"></span>
              </section>
              <section layout="row">
                <span flex></span>
                <md-progress-circular ng-show="hideSaveShowProgress" md-mode="indeterminate" style="" md-diameter="30px"></md-progress-circular>
                <span flex></span>
              </section>
              <section layout="row" flex>
                <span flex="20"></span>
                <md-button ng-hide="hideSaveShowProgress" ng-click="submitChangePassword()" class="md-raised md-primary md-raised md-cornered" style="margin-top: -35px;">Save Changes</md-button>
                <span flex="20"></span>
              </section>
            </div>
          </div>
        </div>
      </ul>
    </md-content>
  </md-dialog-content>
</md-dialog>
