md-dialog.fullscreen-dialog {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border-radius: 0;
}

md-input-container {
  margin-top: 0px;
}

md-input-container.leftCard {
  margin-top: 0px;
}

md-menu-item > .md-button {
  font-size: 13px;
}

.my-th{
  padding : 0px;
  max-width : 250px;
  min-width : 250px;
  width : 250px;
}

.selected {
  background-color: #EEEEEE;
  outline:none !important;
}

md-table-pagination {
  border-top: 0px rgba(0,0,0,.12) solid !important;
}

.toolbarFontsize {
  font-size: 16px;
}

.dialogTitle {
  font-size: 16px;
}

md-tooltip {
  font-size: 20px;
}

.md-datepicker-input-container {
  width: 200px;
}

table[md-table] .md-checkbox-column,
table[md-table] .md-checkbox-cell {
  display: none;
}

.checkboxdemoBasicUsage .checkboxDemo1 div {
  clear: both; }

.checkboxdemoBasicUsage p {
  padding-left: 8px; }

.checkboxdemoBasicUsage fieldset.standard {
  border-style: solid;
  border-width: 1px; }

.checkboxdemoBasicUsage legend {
  color: #3F51B5; }

.checkboxdemoBasicUsage legend code {
  color: #3F51B5;
  font-weight: normal; }

.checkboxdemoBasicUsage .ipsum {
  color: saddlebrown; }
