<md-card ng-controller="setupProjectController" flex style="margin: 0px;">
  <div>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <div layout="row"  style="margin-top: 26px;" flex="70">
          <md-button class="md-icon-button md-primary" ng-click="toggleSideNav()" aria-label="menu">
            <md-icon class="material-icons">menu</md-icon>
          </md-button>
          <span flex></span>
          <md-input-container md-no-float class="md-block">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="filterProponent" ng-change="search" class="toolbarFontsize" type="text" placeholder="Search Proponent..." style="width: 400px;">
          </md-input-container>
          <span flex></span>
          <md-input-container md-no-float class="md-block">
            <md-select ng-model="filterOption" placeholder="Year" class="toolbarFontsize" ng-init="filterOption = 'All'">
              <md-option ng-repeat="filterOption in filterOptions" ng-value="filterOption">
                {{filterOption}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <span flex></span>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{filteredItems.length}}" md-boundary-links="options.boundaryLinks" md-page-select="options.pageSelect" md-on-paginate="logPagination" style="margin-top: 12px;"></md-table-pagination>
      </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length" ng-show="showOption">
      <div class="md-toolbar-tools">
        <md-button aria-label="Open for menu" class="md-icon-button" ng-click="edit($event)">
          <md-tooltip md-direction="{{tooltip.tipDirection}}">Edit Proponent</md-tooltip>
          <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-button aria-label="Open for menu" class="md-icon-button" ng-click="delete($event)">
          <md-tooltip md-direction="{{tooltip.tipDirection}}">Delete Proponent</md-tooltip>
          <md-icon class="material-icons">delete_forever</md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="selected = []">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-table-container style="height: 83vh;">
      <table md-table md-row-select="options.rowSelection" ng-model="selected">
        <thead md-head fix-head md-order="query.order">
          <tr md-row>
            <th md-column></th>
            <th md-column md-order-by="proponent" class="my-th">Proponent</th>
            <th md-column md-order-by="projectYear" style="text-align: right;">Project Year</th>
            <th md-column style="text-align: right;">Date Approved</th>
            <th md-column style="text-align: right;">Date Released</th>
            <th md-column style="text-align: right;">Actual Fund Released</th>
            <th md-column style="text-align: right;">Project Duration (start)</th>
            <th md-column style="text-align: right;">Project Duration (end)</th>
            <th md-column style="text-align: right;">Refund Schedule (start)</th>
            <th md-column style="text-align: right;">Refund Schedule (end)</th>
            <th md-column style="text-align: right;">Latest Project Extension</th>
            <th md-column style="text-align: right;">Refund Made</th>
            <th md-column style="text-align: right;">Balance</th>
            <th md-column class="my-th">Status</th>
          </tr>
        </thead>
        <tbody md-body>
          <!-- ng-dblclick="edit($event)"  -->
          <tr md-row md-select="setupProject" md-select-id="proponent" md-auto-select="options.autoSelect" ng-right-click="remindRefundIcon(setupProject)" ng-click="selectRow(setupProject)" ng-repeat="setupProject in filteredItems = (setupProjects | filter: {proponent: filterProponent} | filter: {projectYear: (filterOption == 'All' ? '' : filterOption)} | filter: (showProponentWithDue == 'true' ? filterRemindRefund : '') ) | orderBy: query.order | limitTo: query.limit: (query.page -1) * query.limit">
            <td md-cell>
              <md-icon class="material-icons" ng-show="remindRefundIcon(setupProject) == false" style="color: red;">priority_high</md-icon>
              <md-icon class="material-icons" ng-hide="remindRefundIcon(setupProject) == false" style="color: white;">priority_high</md-icon>
            </td>
            <td md-cell id="setupProjectNotification">{{setupProject.proponent}}</td>
            <td md-cell>{{setupProject.projectYear}}</td>
            <td md-cell style="text-align: right;">{{formatDate(setupProject.dateApproved)}}</td>
            <td md-cell style="text-align: right;">{{formatDate(setupProject.dateReleased)}}</td>
            <td md-cell style="text-align: right;">{{formatThousand(setupProject.actualFundRelease)}}</td>
            <td md-cell style="text-align: right;">{{formatDate(setupProject.projectDurationStart)}}</td>
            <td md-cell style="text-align: right;">{{formatDate(setupProject.projectDurationEnd)}}</td>
            <td md-cell style="text-align: right;">{{formatDate(setupProject.refundScheduleStart)}}</td>
            <td md-cell style="text-align: right;">{{formatDate(setupProject.refundScheduleEnd)}}</td>
            <td md-cell style="text-align: right;">{{setupProject.latestProjectExtension}}</td>
            <td md-cell style="text-align: right;">{{formatThousand(setupProject.refundMade)}}</td>
            <td md-cell style="text-align: right;">{{formatThousand(setupProject.balance)}}</td>
            <td md-cell>{{setupProject.status}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
    <md-sidenav class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" style="width: 45vh;">
      <md-toolbar class="md-tall">
        <div class="md-toolbar-tools">
          <md-button class="md-icon-button" ng-click="closeSideNav()">
            <md-icon class="material-icons">arrow_back</md-icon>
          </md-button>
          <h1 class="md-toolbar-tools">SETUP Project</h1>
        </div>
      </md-toolbar>
      <md-content>
        <md-list>
          <md-list-item>
            <md-icon class="material-icons md-dark md-24">account_circle</md-icon>
            <p class="md-body-2">{{currentEmail}}</p>
          </md-list-item>
          <md-list-item ng-click="create($event)">
            <md-icon class="material-icons md-dark md-24">add_circle</md-icon>
            <p class="md-body-2">Add Proponent</p>
          </md-list-item>
          <md-list-item ng-click="showHistory($event)">
            <md-icon class="material-icons md-dark md-24">history</md-icon>
            <p class="md-body-2">History</p>
          </md-list-item>
          <md-list-item>
            <md-checkbox ng-model="showProponentWithDue" checked="true" ng-change="clearFilter()" ng-true-value="'true'" ng-false-value="'false'"></md-checkbox>
            <p class="md-body-2">Show Proponents With Due</p>
          </md-list-item>
          <md-list-item ng-click="sendEmail()" ng-show="showProponentWithDue == 'true'">
            <md-icon class="material-icons md-dark md-24">email</md-icon>
            <p class="md-body-2">Send Email</p>
          </md-list-item>
          <md-list-item ng-click="showSettings($event)" >
            <md-icon class="material-icons md-drak md-24">settings</md-icon>
            <p class="md-body-2">Settings</p>
          </md-list-item>
          <md-list-item ng-click="signOut($)">
            <md-icon class="material-icons md-dark md-24">exit_to_app</md-icon>
            <p class="md-body-2">Sign Out</p>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>
  </div>
</md-card>
