<md-card ng-controller="setupProjectController" flex style="margin: 0px;">
  <div>
    <md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
      <div class="md-toolbar-tools">
        <div layout="row"  style="margin-top: 40px;" flex>
          <md-button aria-label="Open for menu" class="md-icon-button" ng-click="create($event)">
            <md-tooltip md-direction="{{demo.tipDirection}}">Add Proponent</md-tooltip>
            <md-icon class="material-icons">add</md-icon>
          </md-button>
          <span flex></span>
          <md-input-container md-no-float class="md-block">
            <md-select ng-model="filterProjectYear" placeholder="Year" class="toolbarFontsize">
              <md-option>All</md-option>
              <md-option ng-repeat="year in years" ng-value="year">
                {{year}}
              </md-option>
            </md-select>
          </md-input-container>
          <span flex></span>
          <md-input-container md-no-float class="md-block">
            <md-icon class="material-icons">search</md-icon>
            <input ng-model="filterProponent" ng-change="setupProjectProponent" class="toolbarFontsize" type="text" placeholder="Search Proponent...">
          </md-input-container>
        </div>
        <span flex></span>
        <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{filteredItems.length}}" md-boundary-links="options.boundaryLinks" md-page-select="options.pageSelect" md-on-paginate="logPagination" ></md-table-pagination>
      </div>
    </md-toolbar>
    <md-toolbar class="md-table-toolbar alternate" ng-show="options.rowSelection && selected.length" ng-hide="!hideOption">
      <div class="md-toolbar-tools">
        <md-button aria-label="Open for menu" class="md-icon-button" ng-click="edit($event)">
          <md-tooltip md-direction="{{demo.tipDirection}}">Edit Proponent</md-tooltip>
          <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-button aria-label="Open for menu" class="md-icon-button" ng-click="delete($event)">
          <md-tooltip md-direction="{{demo.tipDirection}}">Delete Proponent</md-tooltip>
          <md-icon class="material-icons">delete_forever</md-icon>
        </md-button>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="selected = []">
          <md-icon class="material-icons">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-table-container style="height: 90vh;">
      <table md-table md-row-select="options.rowSelection" ng-model="selected">
        <thead md-head>
          <tr md-row>
            <th md-column class="my-th">Proponent</th>
            <th md-column style="text-align: right;">Project Year</th>
            <th md-column style="text-align: right;">Date Approved</th>
            <th md-column style="text-align: right;">Date Released</th>
            <th md-column style="text-align: right;">Actual Fund Released</th>
            <th md-column style="text-align: right;">Project Duration (start)</th>
            <th md-column style="text-align: right;">Project Duration (end)</th>
            <th md-column style="text-align: right;">Refund Schedule (start)</th>
            <th md-column style="text-align: right;">Refund Schedule (end)</th>
            <th md-column style="text-align: right;">Latest Project Extension</th>
            <th md-column style="text-align: right;">Refund Made</th>
            <th md-column style="text-align: right;">Balance</th>
            <th md-column class="my-th">Status</th>
          </tr>
        </thead>
        <tbody md-body>
            <tr md-row md-select="setupProject" md-select-id="proponent" md-auto-select="options.autoSelect" ng-click="selectRow(setupProject)" ng-repeat="setupProject in (filteredItems = (setupProjects | filter: filterProponent | filter: {projectYear: (filterProjectYear == 'All' ? '' : filterProjectYear)})) | limitTo: query.limit: (query.page -1) * query.limit | orderBy: proponent">
            <td md-cell>{{setupProject.proponent}}</td>
            <td md-cell>{{setupProject.projectYear}}</td>
            <td md-cell style="text-align: right;">{{setupProject.dateApproved}}</td>
            <td md-cell style="text-align: right;">{{setupProject.dateReleased}}</td>
            <td md-cell style="text-align: right;">{{formatThousand(setupProject.actualFundRelease)}}</td>
            <td md-cell style="text-align: right;">{{setupProject.projectDurationStart}}</td>
            <td md-cell style="text-align: right;">{{setupProject.projectDurationEnd}}</td>
            <td md-cell style="text-align: right;">{{setupProject.refundScheduleStart}}</td>
            <td md-cell style="text-align: right;">{{setupProject.refundScheduleEnd}}</td>
            <td md-cell style="text-align: right;">{{setupProject.latestProjectExtension}}</td>
            <td md-cell style="text-align: right;">{{setupProject.refundMade}}</td>
            <td md-cell style="text-align: right;">{{setupProject.balance}}</td>
            <td md-cell>{{setupProject.status}}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</md-card>
