<md-content ng-controller="userAuthController" flex ng-cloak>
  <ul class="cb-slideshow">
    <li><span>Image 01</span></li>
    <li><span>Image 02</span></li>
    <li><span>Image 03</span></li>
    <li><span>Image 04</span></li>
    <li><span>Image 05</span></li>
    <li><span>Image 06</span></li>
    <li><span>Image 07</span></li>
    <li><span>Image 08</span></li>
    <li><span>Image 09</span></li>
    <li><span>Image 10</span></li>
  </ul>
  <div layout="row" layout-align="center center" flex style="position: relative; padding-top: 10vh;" >
    <md-card flex="30" class="md-whiteframe-4dp">
      <md-toolbar>
        <div layout="column" layout-padding layout-align="center center">
          <img alt="setuplogo" height="150px" src="https://firebasestorage.googleapis.com/v0/b/setupproject-d239f.appspot.com/o/setup.png?alt=media&token=46855b82-d9c7-4dfb-9660-5b2617778e01"/>
        </div>
      </md-toolbar>
      <md-card-content layout-padding style="padding-top:25px;">
        <form id="login" ng-submit="signIn()" ng-show="showLogin">
          <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="user.emailAddress" type="email">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Password</label>
            <input ng-model="user.password" type="password" maxlength="20">
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button type="submit" ng-disabled="showProgress" class="md-raised md-primary md-cornered" flex="50">Sign In</md-button>
          </div>
        </form>
        <div id="createAccount" ng-show="showCreateAccount">
          <section ng-hide="passwordStatus">
            <md-input-container class="md-block">
              <label>Master Password</label>
              <input ng-model="inputMasterPassword" type="password" maxlength="20"/>
              <!-- <div class="hint">Some text here...</div> -->
            </md-input-container>
            <div layout="row" layout-align="center center">
              <md-button class="md-raised md-primary md-cornered" flex="50" ng-click="compareMasterPassword()">Submit</md-button>
            </div>
          </section>
          <form ng-hide="true" ng-show="passwordStatus" name="createAccount" ng-submit="submitCreateAccount()">
            <md-input-container class="md-block">
              <label>Username</label>
              <input ng-model="createDisplayName" required>
            </md-input-container>
            <md-input-container class="md-block">
              <label>Email Address</label>
              <input ng-model="createEmailaddress" type="email" required>
            </md-input-container>
            <div layout="row" flex>
              <md-input-container class="md-block" flex >
                <label>Password</label>
                <input type="password" id="password1" name="password1" ng-model="password1" required />
                <div class="hint" ng-show="createAccount.password2.$error.pwmatch && createAccount.$error">Passwords don't match.</div>
              </md-input-container>
              <md-input-container class="md-block" flex >
                <label>Confirm Password</label>
                <input type="password" id="password2" name="password2" ng-model="password2" required pw-check="password1" />
              </md-input-container>
            </div>
            <div layout="row" layout-align="center center">
              <md-button type="submit" ng-disabled="!createAccount.$valid" class="md-raised md-primary md-cornered" flex="50">Submit</md-button>
            </div>
          </form>
        </div>
        <form id="retrieveAccount" ng-submit="submitRetrieveAccount()" ng-show="showRetrieveAccount">
          <md-input-container class="md-block">
            <label>Email Address</label>
            <input ng-model="retrieve.emailAddress" type="email">
            <!-- <div class="hint">Some text here...</div> -->
          </md-input-container>
          <div layout="row" layout-align="center center">
            <md-button type="submit" ng-disabled="showProgress" class="md-raised md-primary md-cornered" flex="50">Submit</md-button>
          </div>
        </form>
      </md-card-content>
      <md-card-footer layout="row" layout-align="end center">
        <table>
          <tr>
            <td class="lgLeftPadding">
              <a href="" ng-show="optSignIn" ng-click="showLogin=true; showCreateAccount=false; showRetrieveAccount=false; optSignIn=false; optCreateAccount=true; optRetrieveAccount=true">Sign In</a>
            </td>
            <td class="lgLeftPadding">
              <a href="" ng-show="optCreateAccount" ng-click="showLogin=false; showCreateAccount=true; showRetrieveAccount=false; optSignIn=true; optCreateAccount=false; optRetrieveAccount=true">Create account</a>
            </td>
            <td class="lgLeftPadding">
              <a href="" ng-show="optRetrieveAccount" ng-click="showLogin=false; showCreateAccount=false; showRetrieveAccount=true; optSignIn=true; optCreateAccount=true; optRetrieveAccount=false">Forgotten account?</a>
            </td>
          </tr>
        </table>
      </md-card-footer>
      <md-progress-linear ng-show="showProgress" md-mode="indeterminate"></md-progress-linear>
    </md-card>
  </div>
</md-content>
